{% extends "layout/layout.html" %}
{% block content %}
    <div class="pages">
        <h1>Different options</h1>
        <ul>
            <li>
                <a href="/get-list-example">GET list example</a>
            </li>
            <li>
                <a href="/get-id-example">GET id example</a>
            </li>
            <li>
                <a href="/post-example">POST example</a>
            </li>
            <li>
                <a href="/update-example">UPDATE example</a>
            </li>
            <li>
                <a href="/delete-example">DELETE example</a>
            </li>
            <li>
                <a href="/file-example">File example</a>
            </li>
        </ul>
    </div>
{% endblock %}