{% extends "layout/layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block header %}Different options{% endblock %}

{% block content %}
    <div class="p20 col-lg-12">
        <div class="mb20">Different examples getting or updating info on database:</div>
        <div class="mb40">Template list:</div>
        <div class="ml40 col-lg-6">
            <ul class="dashboard nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/get-list-example">GET list example</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/get-id-example/3">GET id example</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/post-example">POST example</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/update-example">UPDATE example</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/delete-example/7">DELETE example</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/upload-file-example">File example</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}