{% extends "layout/layout.html" %}

{% block title %}Get by id Example{% endblock %}

{% block header %}Get by id Example{% endblock %}

{% block content %}
    {% include "pages/back_button.html" %}
    <div class="p20 col-lg-12">
        <div>Object id: {{ data.id }} (id hardcoded on url)</div>
        <div class="mb40">Object DB content: {{ data }}</div>
        <ul>
            <li>id: {{ data.id }}</li>
            <li>name: {{ data.name }}</li>
            <li>num cards: {{ data.numCards }}</li>
        </ul>
    </div>
{% endblock %}