{% extends "layout/layout.html" %}

{% block title %}Get by id Example{% endblock %}

{% block header %}Get by id Example{% endblock %}

{% block content %}
    <div class="pages">
        <p>Click to start this awesome adventure</p>
        <ul>
            <li>{{ data }}</li>
            <li class="no-decoration">
                <ul>
                    <li>id: {{ data.id }}</li>
                    <li>name: {{ data.name }}</li>
                    <li>num cards: {{ data.numCards }}</li>
                </ul>
            </li>
        </ul>
        <a href="/dashboard"> 
            <button>back to dashboard</button> 
        </a>
    </div>
{% endblock %}