{% extends "layout/layout.html" %}

{% block title %}Get list example{% endblock %}

{% block header %}Get list example{% endblock %}

{% block content %}
    <div class="pages">
        <p>Click to start this awesome adventure</p>
        <ul>
            {% for dataObject in data %}
                <li>{{ dataObject }}</li>
                <li class="no-decoration">
                    <ul>
                        <li>id: {{ dataObject.id }}</li>
                        <li>name: {{ dataObject.name }}</li>
                        <li>num cards: {{ dataObject.numCards }}</li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <a href="/dashboard"> 
            <button>back to dashboard</button> 
        </a>
    </div>
{% endblock %}