{% extends "layout/layout.html" %}

{% block title %}Item updated example{% endblock %}

{% block header %}Item updated example{% endblock %}

{% block content %}
    <div class="pages">
        <p>Click to start this awesome adventure</p>
        <form method="POST" action="/submit-update">
            {{ data}}
            <label>name</label>
            <div>
                <input type="text" name="id" placeholder="id" value="{{ data.id }}" required>
            </div>
            <label>name</label>
            <div>
                <input type="text" name="name" placeholder="name" value="{{ data.name }}" required>
            </div>
            <label>num cards</label>
            <div>
                <input type="text" name="numCards" placeholder="num cards" value="{{ data.numCards }}" required>
            </div>
            
            <button type="submit">Submit form</button>
        </form>
        <a href="/dashboard"> 
            <button>start</button> 
        </a>
    </div>
{% endblock %}