body {
    background-color: black;
    color: white;
    font-size: 18px;
}

h1 {
    text-transform: capitalize;
}

a {
    color: white !important;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li.no-decoration{
    list-style: none;
    margin-bottom: 30px;
}

.home {
    text-align: center;
}

.p20 {
    padding: 20px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb20 {
    margin-bottom: 20px;
}

.ml40 {
    margin-left: 40px
}

ul.dashboard {
    list-style: lower-alpha !important;
}

.form-control-plaintext {
    background-color: lightgrey;
    padding: .375rem .75rem;
    border-radius: 5px;
    cursor: not-allowed;
}