body {
    background-color: black;
    color: white;
    font-size: 18px;
}

h1 {
    text-transform: capitalize;
}

a {
    color: white !important;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    margin-bottom: 10px;
}

li.no-decoration{
    list-style: none;
    margin-bottom: 30px;
}

.home {
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

label {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

form div {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

input {
    padding: 10px 20px;
}

.p20 {
    padding: 20px;
}

.mb40 {
    margin-bottom: 40px;
}

ul {
    list-style: circle !important;
}

.form-control-plaintext {
    background-color: lightgrey;
    padding: .375rem .75rem;
    border-radius: 5px;
    cursor: not-allowed;
}