{% extends "layout/layout-pages.html" %}

{% block title %}Post example{% endblock %}

{% block header %}Post example{% endblock %}

{% block content %}
    {% include "pages/utils/back_button.html" %}
    <div class="p20 col-lg-12">
        <div class="mb20">Add new Object to DB content:</div>
        <div class="col-lg-6">
            <form method="POST" action="/submit-post">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Write set name" required>
                </div>
                <div class="mb-3">
                    <label for="numCards" class="form-label">Num cards</label>
                    <input type="text" class="form-control" id="numCards" name="numCards" placeholder="Write set number of cards" required>
                </div>
                <button type="submit" class="btn btn-primary mb-3">Submit form</button>
            </form>
        </div>
    </div>
{% endblock %}